<%= form_with(model: geolocation, local: true) do |form| %>
  <% if geolocation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(geolocation.errors.count, "error") %> prohibited this geolocation from being saved:</h2>

      <ul>
      <% geolocation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
